@font-face {
    font-family: 'share_techregular';
    src: url('fonts/sharetech-regular-webfont.woff2') format('woff2'),
         url('fonts/sharetech-regular-webfont.woff') format('woff'),
         url('fonts/sharetech-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: "share_techregular";
    
}

body {
    padding: 0 10%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

svg {
    margin: 3px;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.name {
    cursor: pointer;
}


.topnav {
    list-style: none;
    display: flex;
}

.topnav a {
    font-size: 24px;
    font-weight: 500;
}


.topnav li {
    padding: 9px;
    font-size: 24pt;
}

img {
    max-width: 100%;
    height: auto
}

.container {
    display: flex;
    flex-flow: center;
    margin: 0 50px;
}

.quote {
    font-size: 32px;
    text-align: center;
    margin-top: 130px;
    margin-left: 10px;
}

li a:hover{
    background-color: rgb(43, 189, 226);
    border-radius: 7px;
    padding: 5px;
}

.active {

    border-color: rgb(117, 213, 252);
    border-bottom: 4px solid rgb(117, 213, 252);
    border-radius: 3px;
}

p {
    max-width: 75%;
}

.box1 {
    display: flex;
    justify-items: center;
    align-items: center;
}

.box2 {
    display: inline;
    margin: auto;
}

.tab {
    margin-left: 20%;
}

span {
    color: rgb(117, 213, 252);;
    text-shadow: 2px;
}